07YKi84sLttdSSNK.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "genpromt",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gen content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gen content",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "genpromt",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "genpromt": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "genpromt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Upload Img1": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Facebook Upload Img1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        []
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet5": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet6": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet4": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen content": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Gen content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T10:56:38.259Z",
  "id": "07YKi84sLttdSSNK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Facebook By Đoàn Duy Thành",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        256
      ],
      "id": "5621b140-ee60-4e8e-b478-9373e770ae7f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1104,
        416
      ],
      "id": "0087dc23-72b7-499d-964e-19deaceb57a7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YukqLXpGaXBAWfgo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"Content\": \"...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1104,
        624
      ],
      "id": "a5bdf679-3df6-479b-a3e7-3084979dd4f2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"Promt\": \"...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1104,
        816
      ],
      "id": "b3384f0b-cf00-41dc-9274-ea4c991b4934",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RAW INPUT (paste here):\n{{ $json.Content }}\n\n{{ $json['Promt Gen IMG'] }}\n\n{ \"Promt\": \"...\" }",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -320,
        752
      ],
      "id": "b333a948-9c40-4ce5-9fde-2009b882dc8e",
      "name": "genpromt"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image-preview (Nano Banana)"
        },
        "prompt": "={{ $json.output.Promt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        32,
        752
      ],
      "id": "1aff59fc-0083-4b6a-9d3f-4c11acf3b292",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "nUz8pYIKQQaDk4d8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        752
      ],
      "id": "8b4fe57e-9b5f-4f13-bdf5-784f8ce5912a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status Content",
              "lookupValue": "Acp Content"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        752
      ],
      "id": "36c179e2-a52c-4351-9b65-354401eb5cc6",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "Link IMG": "={{ $json.webViewLink }}",
            "Status IMG": "Wait Acp Img"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt Gen Content",
              "displayName": "Promt Gen Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt Gen IMG",
              "displayName": "Promt Gen IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Footer",
              "displayName": "Footer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Content",
              "displayName": "Status Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link IMG",
              "displayName": "Link IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status IMG",
              "displayName": "Status IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Feed",
              "displayName": "Status Feed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        656
      ],
      "id": "216513b5-87a0-4b6d-88ea-522beb5e011e",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyy-MM-dd-HH-MM-ss') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1fsMhxS5gXrbKH2tbQFroVyCHsibFGeUT",
          "mode": "list",
          "cachedResultName": "iMG uPLOAD",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fsMhxS5gXrbKH2tbQFroVyCHsibFGeUT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        656
      ],
      "id": "c8273ee4-4683-4a18-9357-4b65001b5ade",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YrpxuDEWKbz1HOhH",
          "name": "thanhdd_ytbusa"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        1312
      ],
      "id": "094e12a0-0270-4089-b0db-1f3e688e38e8",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status IMG",
              "lookupValue": "Acp Img"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        1312
      ],
      "id": "e06b8b65-f39a-4b16-8030-419b911caae5",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Get row(s) in sheet2').item.json.Content }}\n_______________________________________________________\n{{ $('Get row(s) in sheet2').item.json.Footer }}"
              },
              {
                "name": "attached_media",
                "value": "={{ $json.id ? `[{\"media_fbid\":\"${$json.id}\"}]` : \"\" }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        128,
        1312
      ],
      "id": "522a28d0-8c30-4779-8eec-ebdc6de6aa3e",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "P28cpVGNNBU4LXWK",
          "name": "Facebook Graph account 2"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "232776499925053",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "file:data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "published",
                "value": "false"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -96,
        1312
      ],
      "id": "c0549ee5-6b48-4515-8576-e4d457a85767",
      "name": "Facebook Upload Img1",
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "P28cpVGNNBU4LXWK",
          "name": "Facebook Graph account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json['Link IMG'] }}",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        1312
      ],
      "id": "7564c824-2ef0-43cd-8177-6179c3e49299",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YrpxuDEWKbz1HOhH",
          "name": "thanhdd_ytbusa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet2').item.json.row_number }}",
            "Status Feed": "DONE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen Content",
              "displayName": "Promt Gen Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen IMG",
              "displayName": "Promt Gen IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Footer",
              "displayName": "Footer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Content",
              "displayName": "Status Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link IMG",
              "displayName": "Link IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status IMG",
              "displayName": "Status IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Feed",
              "displayName": "Status Feed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        1312
      ],
      "id": "5b53e0e8-75ba-438d-b54b-afe6ddfd25b9",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "Status IMG": "Acp Img"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt Gen Content",
              "displayName": "Promt Gen Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Promt Gen IMG",
              "displayName": "Promt Gen IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Footer",
              "displayName": "Footer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Content",
              "displayName": "Status Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link IMG",
              "displayName": "Link IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status IMG",
              "displayName": "Status IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Feed",
              "displayName": "Status Feed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        832
      ],
      "id": "7f03317a-18d8-421c-a15f-f22a3abbab2f",
      "name": "Update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d709a9dd-f69b-4e31-84a1-c989fe808e2a",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        848
      ],
      "id": "b73ad6db-0f45-4778-852b-9d5edc2e0c3f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "Status Content": "",
            "Status IMG": "\"\""
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen Content",
              "displayName": "Promt Gen Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen IMG",
              "displayName": "Promt Gen IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Footer",
              "displayName": "Footer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Content",
              "displayName": "Status Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link IMG",
              "displayName": "Link IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status IMG",
              "displayName": "Status IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Feed",
              "displayName": "Status Feed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        1056
      ],
      "id": "c62235d3-5b7d-4d58-8cc7-dd11678c0867",
      "name": "Update row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5930623260",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        848
      ],
      "id": "992989ba-f340-4fff-b51d-05616ff5725d",
      "name": "Send a photo message",
      "webhookId": "bdfb39c9-835f-4dc6-83eb-df368608ad9e",
      "credentials": {
        "telegramApi": {
          "id": "A0upvRqHjOFzJOwM",
          "name": "thanhdd"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "5930623260",
        "message": "=ACP IMG ?",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 60,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        848
      ],
      "id": "5dbc0a3b-25d9-4542-a146-9af4036fe02c",
      "name": "Send a text message1",
      "webhookId": "64b4ab14-5a70-4027-be1e-46099e28ce2e",
      "credentials": {
        "telegramApi": {
          "id": "A0upvRqHjOFzJOwM",
          "name": "thanhdd"
        }
      }
    },
    {
      "parameters": {
        "content": "# Gen Content\n",
        "height": 416,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        176
      ],
      "id": "4cb88f68-9c2c-4a67-b083-e71c3edd344a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Gen IMG ",
        "height": 560,
        "width": 1984,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        624
      ],
      "id": "0e0a1236-cf95-4b8a-8d44-697c0ed43371",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Gen Facebook\n",
        "height": 272,
        "width": 1984,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        1216
      ],
      "id": "354a2a4b-aa7b-482e-9cd4-3bb6f1602e32",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# MODEL\n",
        "height": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        288
      ],
      "id": "a5740f40-50ec-46f7-ba6d-4d67f4a76228",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status Content": "\"\""
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen Content",
              "displayName": "Promt Gen Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen IMG",
              "displayName": "Promt Gen IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Footer",
              "displayName": "Footer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Content",
              "displayName": "Status Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link IMG",
              "displayName": "Link IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status IMG",
              "displayName": "Status IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Feed",
              "displayName": "Status Feed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        448
      ],
      "id": "974b4e6d-526a-4152-bc3e-7c0239246319",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d709a9dd-f69b-4e31-84a1-c989fe808e2a",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        256
      ],
      "id": "16d9d808-7153-4951-9004-18ae550b82f4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status Content": "Acp Content"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen Content",
              "displayName": "Promt Gen Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen IMG",
              "displayName": "Promt Gen IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Footer",
              "displayName": "Footer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status Content",
              "displayName": "Status Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link IMG",
              "displayName": "Link IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status IMG",
              "displayName": "Status IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Feed",
              "displayName": "Status Feed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        240
      ],
      "id": "b6262e8f-6263-4c72-89e4-e291c3bf794e",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "5930623260",
        "message": "={{ $json.Content }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 60,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        256
      ],
      "id": "f82a8e98-1c7e-4c45-9f03-47b61671f0be",
      "name": "Send a text message",
      "webhookId": "64b4ab14-5a70-4027-be1e-46099e28ce2e",
      "credentials": {
        "telegramApi": {
          "id": "A0upvRqHjOFzJOwM",
          "name": "thanhdd"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Date": "={{ $now }}",
            "Content": "={{ $json.output.Content }}",
            "Status Content": "Await Acp Content"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen Content",
              "displayName": "Promt Gen Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Promt Gen IMG",
              "displayName": "Promt Gen IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Footer",
              "displayName": "Footer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Content",
              "displayName": "Status Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link IMG",
              "displayName": "Link IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status IMG",
              "displayName": "Status IMG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Feed",
              "displayName": "Status Feed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        256
      ],
      "id": "46b94d0b-4247-46b8-a575-1d31dd3cf753",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Promt Gen Content'] }}\nYêu cầu đầu ra: Văn bản không có chứa các URL, không bình luận thêm trả về kết quả đúng định dạng sau  { \"Content\": \"...\" }\nChủ đề: {{ $json.subject }}\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -304,
        256
      ],
      "id": "83587ce1-b568-4c07-bf67-34743c344fd0",
      "name": "Gen content",
      "retryOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I",
          "mode": "list",
          "cachedResultName": "Content To Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YknBgPvkjbvcIH2XxHgSS5Be_sh0Vs2SHBEhAwfbk4I/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status Content"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        256
      ],
      "id": "6be17fe4-f92e-4ad8-82a8-093483e0b3ae",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VljKfRs1YSA3dDMC",
          "name": "thanhdd_ytbusa1"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "baominhseoer2020",
    "name": "backupn8nsukienvip"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T10:56:38.269Z",
      "updatedAt": "2025-09-28T10:56:38.269Z",
      "role": "workflow:owner",
      "workflowId": "07YKi84sLttdSSNK",
      "projectId": "tJF7GNpm7ygWqB5m"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-25T05:55:37.095Z",
      "updatedAt": "2025-07-25T05:55:37.095Z",
      "id": "gA40cFcXm7KMTzS0",
      "name": "thanhdd"
    },
    {
      "createdAt": "2025-09-28T10:56:45.981Z",
      "updatedAt": "2025-09-28T10:56:45.981Z",
      "id": "txBUXslweaH0ts96",
      "name": "facebook"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-06T02:46:29.000Z",
  "versionId": "f8635a8f-7560-4c9f-8a17-c98bcd8ecd91"
}